body{
	background-image: url(cover.jpg);
	background-size: cover;
}
.pala{
	margin-top: 180px;
	margin-left: 280px;
}
.atas{
	background-color: white;
	height: 30px;
	width: 800px;
}
.atas p{
	text-align: center;
	font-family: Courier New;
	margin: auto;
	max-height: 3px;
}
.konten{
	width: 750px;
	height: 150px;
	display: flex;
	background-color: yellow;
	background-size: cover;
	
	
 }
 #card1{
 	width: 400px;
 	height: 150px
 }
 #card2{
 	width: 400px;
 	height: 150px;
 	background: grey;
 	text-align: center;
 }

form{
	margin-top: 5px;

}